.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.btn {
  background: #13664a;
  background-image: -webkit-linear-gradient(top, #13664a, #2ae0a3);
  background-image: -moz-linear-gradient(top, #13664a, #2ae0a3);
  background-image: -ms-linear-gradient(top, #13664a, #2ae0a3);
  background-image: -o-linear-gradient(top, #13664a, #2ae0a3);
  background-image: linear-gradient(to bottom, #13664a, #2ae0a3);
  -webkit-border-radius: 22;
  -moz-border-radius: 22;
  border-radius: 22px;
  text-shadow: 4px 0px 3px #666666;
  -webkit-box-shadow: 6px 4px 3px #080808;
  -moz-box-shadow: 6px 4px 3px #080808;
  box-shadow: 6px 4px 3px #080808;
  font-family: Georgia;
  color: #ffffff;
  font-size: 32px;
  padding: 8px 25px 8px 25px;
  text-decoration: none;
  margin: 5% 46%;
}

.btn:hover {
  background: #51d6a8;
  background-image: -webkit-linear-gradient(top, #51d6a8, #4ECCA3);
  background-image: -moz-linear-gradient(top, #51d6a8, #4ECCA3);
  background-image: -ms-linear-gradient(top, #51d6a8, #4ECCA3);
  background-image: -o-linear-gradient(top, #51d6a8, #4ECCA3);
  background-image: linear-gradient(to bottom, #51d6a8, #4ECCA3);
  text-decoration: none;
}